*.swp  
.DS_Store

vite.config.js.timestamp-*.mjs
env.sh

/dist.*/
/dist/
/i18n/.i18n/.cache
/i18n/.i18n/.hash
/node_modules/
/sh/*.js
/src/conf.js
/src/index.html
/src/styl/plugin.styl
/src/styl/svg.styl
/src/lib/I18N.js

/public/i18n/
/public/w.js
/public/s.js
